.image1 {
    background-image: url('assets/dj1.jpg');
    background-repeat: no-repeat;
    width: 1000px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
}
.image2 {
    background-image: url('assets/image2.jpeg');
    background-repeat: no-repeat;
    width: 500px;
    height: 333px;
    margin-left: auto;
    margin-right: auto;
}
.image3 {
    background-image: url('assets/image3.jpeg');
    background-repeat: no-repeat;
    width: 500px;
    height: 333px;
    margin-left: auto;
    margin-right: auto;
}
.image4 {
    background-image: url('assets/image4.jpeg');
    background-repeat: no-repeat;
    width: 500px;
    height: 333px;
    margin-left: auto;
    margin-right: auto;
}
.image5 {
    background-image: url('assets/image5.jpg');
    background-repeat: no-repeat;
    width: 500px;
    height: 333px;
    margin-left: auto;
    margin-right: auto;
}
.image6 {
    background-image: url('assets/image6.jpeg');
    background-repeat: no-repeat;
    width: 500px;
    height: 333px;
    margin-left: auto;
    margin-right: auto;
}
.image7 {
    background-image: url('assets/image7.jpg');
    background-repeat: no-repeat;
    width: 500px;
    height: 333px;
    margin-left: auto;
    margin-right: auto;
}
.image8 {
    background-image: url('assets/image8.jpeg');
    background-repeat: no-repeat;
    width: 500px;
    height: 333px;
    margin-left: auto;
    margin-right: auto;
}
.image9 {
    background-image: url('assets/image9.jpeg');
    background-repeat: no-repeat;
    width: 500px;
    height: 333px;
    margin-left: auto;
    margin-right: auto;
}
.image10 {
    background-image: url('assets/image10.jpg');
    background-repeat: no-repeat;
    width: 1000px;
    height: 650px;   
    margin-left: auto;
    margin-right: auto; 
   }